body{
	background-color:#CCCCCC;
}

.Aashansh-Brandname {
	font-size: 16px;
    color: #FFFFFF;
    line-height: 15px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    width: 70px;
    height: 30px;
    text-align: left;
}

.Aashansh-Header-logo{
	overflow: hidden;
    width: 50px;
    float: left;
}

.Aashansh-Header-logo img{
	width:100%;
}

.navbar {
	color: #ffffff;
}

.navbar-items {
	margin-top: 0;
	margin-bottom: 0;
	display: block;
}


.navbar-nav li a{
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	margin: 0px;
	box-shadow: none;

}

.navbar-nav .navbar-items:hover{
	background-color: #eee;
	color:#000;
}

.navbar-nav li .btn-dropdown{
	color: #ffffff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	margin: 0px;
	box-shadow: none;
}

.navbar-nav li .btn-dropdown:hover{
	background-color: #eee;
	color: #000;
}

@media (max-width: 768px){
	.navbar .btn-dropdown {
		text-align: center;
		display: block;
	}
}

.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.4);
}

.wrapper .header {
	height: 600px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}

.Aashansh-header {
	text-align: center;
	color:#ffffff;
}
.Aashansh-header h1 {
    font-size: 6.0em;
    font-weight: 600;
}
.Aashansh-header h3 {
    font-size: 2.4em;
    font-weight: 600;
}

@media (max-width: 768px){
	.navbar {
		display: block;
	}
	.navbar-collapse {
		border: none;
	}

}

@media (max-width: 400px){
	.Aashansh-header h1 {
    	font-size: 2.4em;
    	font-weight: 600;
	}
	.Aashansh-header h3 {
    	font-size: 1.6em;
    	font-weight: 600;
	}
}
@media (max-width: 768px){
	.navbar {
		background-color: rgba(0, 0, 0, 0.4);
		border-radius: 0;

	}

}


@media (min-width: 768px){
	header {
		height: 550%;

	}

}

footer {
	padding: 15px;
}
footer li {
	text-decoration: none;
	color: black;
	font-weight: 500;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 3px;
	text-decoration: none;
	position: relative;
	display: inline-block;
	margin-left: 10px;
}
footer li a{
	color: black;
}

.section {
  padding: 70px 0;
}

.main {
	position: relative;
  	z-index: 3;
}
.main-card {
	margin: -60px 30px 0px;
  	border-radius: 10px;
  	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.carousel .left {
  cursor: url("../img/arrow-left.png"), url("../img/arrow-left.cur"), default !important;
}
.carousel .right {
  cursor: url("../img/arrow-right.png"), url("../img/arrow-right.cur"), default !important;
}

#Show-about-us {
	color: #333333;
}

#Show-about-us:hover {
	color: #bbbbbb;
}

#Hide-about-us {
	color: #333333;
}

#Hide-about-us:hover {
	color: #bbbbbb;
}

.rotate-card {
	height: 500px;
	overflow: visible;
}

.text-center {
	font-size: 14px;
	line-height: 1.5;
}


/* entire container, keeps perspective */
.card-container {
	-webkit-perspective: 800px;
   	-moz-perspective: 800px;
 	-o-perspective: 800px;
    perspective: 800px;
    margin-bottom: 30px;
}
/* flip the pane when hovered */
.card-container:not(.manual-flip):hover .rotate-card,
.card-container.hover.manual-flip .rotate-card{
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
 	-o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


.card-container.static:hover .rotate-card,
.card-container.static.hover .rotate-card {
	-webkit-transform: none;
	-moz-transform: none;
 	-o-transform: none;
    transform: none;
}
/* flip speed goes here */
.rotate-card {
	-webkit-transition: -webkit-transform .5s;
   	-moz-transition: -moz-transform .5s;
	-o-transition: -o-transform .5s;
    transition: transform .5s;
	-webkit-transform-style: preserve-3d;
   	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
    transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
    backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #FFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    z-index: 3;
}


.rotate-card{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    color: #444444;
}
.card-container, .front, .back {
	width: 100%;
	height: 500px;
	border-radius: 4px;
}
.rotate-card .cover{
    height: 105px;
    overflow: hidden;
    border-radius: 4px 4px 0 0;
}
.rotate-card .cover img{
    width: 100%;
}
.rotate-card .user{
    border-radius: 50%;
    display: block;
    height: 120px;
    margin: -55px auto 0;
    overflow: hidden;
    width: 120px;
}
.rotate-card .user img{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.rotate-card .content{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.rotate-card .content .main {
    min-height: 160px;
}
.rotate-card .back .content .main {
    height: 400px;
}
.rotate-card .back .content .main .text-center{
	font-size: 12px;	
}
.rotate-card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.rotate-card h5{
    margin: 5px 0;
    font-weight: 400;
    line-height: 20px;
}
.rotate-card .designation{
    color: #999999;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.rotate-card .footer {
    color: #999999;
    text-align: center;
}


.rotate-card .header {
    padding: 15px 20px;
    height: 45px;
}
.rotate-card .motto{
    border-bottom: 1px solid #EEEEEE;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    text-align: center;
}




